/* Custom CSS styles */

body {
    background-color: #f4f4f9; /* A light grey background */
}

/* Custom styles for the hero section button */
#learnMoreBtn {
    background-color: #6c757d; /* A secondary grey color */
    border-color: #6c757d;
}

#learnMoreBtn:hover {
    background-color: #5a6268; /* A darker grey on hover */
    border-color: #545b62;
}